<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Pinecone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="navbar-container">
        <!-- Navigation -->
        <nav class="w3-bar w3-black">
            <span class="navbar-title">
                <span class="navbar-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Project Pinecone">
                </span>
                Project Pinecone
            </span>

            <a href="{{ url_for('home') }}" class="w3-button w3-bar-item">Home</a>
            <a href="{{ url_for('create') }}" class="w3-button w3-bar-item">Create</a>
            <a href="{{ url_for('about') }}" class="w3-button w3-bar-item">About</a>
        </nav>
    </div>

    <!-- Home Section -->
    <section class="home-section">
        <div class="logo">
            <div class="tile">
                <h1>Professor and Course Information</h1>

                <form action="{{ url_for('display_route') }}" method="post">
                    <label for="Course">Enter the course:</label>
                    <input type="text" id="Course" name="Course" required>
                
                    <label for="Last">Enter the professor's last name:</label>
                    <input type="text" id="Last" name="Last" required>
                
                    <button type="submit">Submit</button>
                </form>
                
            </div>
        </div>
    </section>
    <div class="results-tile" id="search-results">
        <h4>Here is some of info that might faciliate choosing this course:</h4>
                        <!-- Display the result if available -->
                        {% if(result): %}
                        <div>
                            <!-- Adjust this part to display your result data -->
                            <!---{{ result }} -->
                        {% endif %}   
    </div>
    
    <div class="tile2" id="search-results">
    </div>
    </div>
</body>

</html>
