/* Styles.css*/
/* Reset some default styles */
body, h1, h2, h3, p 



{
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body 
{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

/* Style the navigation bar */
.navbar-title 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #fff; /* Text color */
    padding: 10px; /* Add padding for spacing */
    margin-left: 10px; /* Adjust the left margin for positioning */
    position: absolute;

     /* Align the title to the left */
     display: flex;
     align-items: center;
     justify-content: flex-start;
}

.navbar-logo img
{
    width: 30px; /* Adjust the logo size as needed */
    height: 30px;
    margin-right: 10px;
}

.w3-bar 
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 35px 0;
}

.w3-bar a 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */

}

.w3-bar a:hover 
{
    background: linear-gradient(to bottom, #007BFF, #0056b3);
    background-size: 100% 200%;
    background-position: 0 100%; /* Start at the bottom */
    transition: background 0.3s;
}


.w3-bar a::before 
{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px; 
    top: 0;
    left: 0;
    background-color: #0093E9; 
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.5s; 
}

.w3-bar a:hover::before 
{
    transform: scaleX(1); 
    transform-origin: left;
}



/* Style the Home Section */
.home-section 
{
    text-align: center;
    padding: 50px;
}

/* Style the logo */
.logo img 
{
    max-width: 100%;
    height: 250px;
    width: 250px;
}

/* Style the text next to the logo */
.text 
{
    margin-top: 20px;
    text-align: center;
}

.text h1 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.text p 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* Style the "Create Your Calendar" Section */
.create-section 
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-section h1 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: #333;
}

/* Style the Buttons */
.import-buttons 
{
    margin-top: 20px;
    text-align: right;
}

.import-buttons button 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.import-buttons button:hover {
    background-color: #0056b3;
}

/* about section */
.about-section h1
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-section
{
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 150px;
    line-height: 1.5;

}

/* styles.css */
/* CSS to center the tile in the middle of the page */
.tile {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
    background-color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 50px;
    color: #fff;
    font-size: 18px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 20%;
    transform: translate(-50%, -50%); /* Adjust for vertical centering */
    overflow: hidden; /* Clip the border inside the tile */
    margin-top: 50px;
}

.tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Rounded corners */
    background: linear-gradient(90deg, #3498db, #2980b9); /* Gradient background */
    z-index: -1; /* Place it behind the content */
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); /* Create the gradient border with box-shadow */
    transition: box-shadow 0.3s; /* Add a smooth transition effect */
}



.tile:hover::before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7); /* Add the gradient border on hover */
}

.tile h2 {
    margin: 0; /* Remove margin for the title */
}


.tile input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    width: 100%; /* Expand the input to fill the container width */
    margin-bottom: 10px; /* Add spacing between inputs */
    font-size: 16px;
    color: #333;
}

.tile input[type="button"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tile-container {
    display: flex;
    justify-content: space-between; /* Distribute space evenly between tiles */
    margin: 20px; /* Adjust the margin as needed */
}

.tile input[type="button"]:hover {
    background-color: #2980b9; /* Change background color on hover */
}

/* Style for the container to center the tiles */



/* Style for the search results tile */
.results-tile {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 50px;
    color: #fff;
    font-size: 12px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 225px;
    right: 24%;
    transform: translate(-50%, -17%); /* Adjust for vertical centering */
    overflow: hidden; /* Clip the border inside the tile */ 
}



.results-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Rounded corners */
    background: linear-gradient(90deg, #3498db, #2980b9); /* Gradient background */
    z-index: -1; /* Place it behind the content */
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); /* Create the gradient border with box-shadow */
    transition: box-shadow 0.3s; /* Add a smooth transition effect */
}

.results-tile:hover::before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7); /* Add the gradient border on hover */
}

/*third tile css (kill me)*/
.tile2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
    background-color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 50px;
    color: #fff;
    font-size: 12px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%; /* Center vertically */
    right: -5%;
    transform: translate(-50%, -50%); /* Adjust for vertical centering */
    overflow: hidden; /* Clip the border inside the tile */
    margin-top: 50px;
}

.tile2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Rounded corners */
    background: linear-gradient(90deg, #3498db, #2980b9); /* Gradient background */
    z-index: -1; /* Place it behind the content */
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); /* Create the gradient border with box-shadow */
    transition: box-shadow 0.3s; /* Add a smooth transition effect */
}

.tile2:hover::before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7); /* Add the gradient border on hover */
}



/*Output css edit*/

.output {
    /* Styles for the output element */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 15px;
    text-decoration-thickness: 4px;
}

.output1 {
    /* Styles for the output1 element */
    color: rgb(55, 192, 192);
    font-size: 18px;

    
}

/* Styles for the about section container */
.about-section {
    display: flex;
    align-items: center;
}

/* Styles for the text on the left side */
.about-text {
    flex: 1; /* Take up available horizontal space */
    padding: 20px;
}


/* Style for the text on the right side */
.text {
    max-width: 20%; /* Limit the width of the text */
    padding: 10px; /* Add padding for spacing */
}

/* Styles for the team member photos on the right side */
.team-photos .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Ensure images don't exceed container width */
    margin-bottom: 20px;
}

/* Style for the paragraph text on the right side */
.paragraph-text {
    max-width: 45%; /* Limit the width of the paragraph text */
    padding: 125px; /* Add padding for spacing */
}


/* Styles for individual team member photos */
.team-photos img {
    max-width: 300px; /* Ensure photos don't exceed their container width */
    max-height: 300px; /* Limit the height of each photo */
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border 0.3s ease-in-out; 
}

/* Style for the white border on hover */
.team-photos .image-container:hover img {
    border-color: #fff; /* Change border color to white on hover */
    transform: scale(1.05); /* Optional: Enlarge the image on hover */
}

/* Style for the tooltip */
.image-tooltip {
    font-family: monospace;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Background color for the tooltip */
    color: #fff; /* Text color for the tooltip */
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
}

/* Show the tooltip when hovering over the image */
.image-container:hover .image-tooltip {
    visibility: visible;
    opacity: 1;
}
